.user-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0 0 10px;
  background-color: #333539;
  border-radius: 5px;
}

.received-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px 0 0;
  background-color: #333539;
  border-radius: 5px;
  color: #fff;
}
